secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
watchman_report.txt
light_profiles.csv
zigbee.db
zigbee.db-shm
zigbee.db-wal
.storage/
.cloud/
.google.token
__pycache__/
*.pyc
.HA_VERSION
tts/
backups/
*.tar
deps/
.vscode/
.idea/
.ha_run.lock
.cache/
onlineBackupsData/
.shopping_list.json
image/
